.content {
  width: 100%;
  margin: auto;
  height: 100%;
}
.post__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 60px 33px 0;
  background-color: transparent;
}

@media screen and (max-width: 1500px) {
}
@media screen and (max-width: 1000px) {
  .content {
    height: 100%;
  }
  .post__container {
    width: 95vw;

    margin: 20px auto 50px;
  }
}
@media screen and (max-width: 700px) {
  .post__container {
    width: 90vw;
    position: relative;
    margin: 20px auto 50px;
  }
}
@media screen and (max-width: 540px) {
}
