.readme__container {
  margin: 0 auto;
  max-width: 1000px;
  width: 80%;
  padding: 80px;
}

.readme__title {
  text-align: center;
}

.readme__body {
}

.readme__paragraph {
  font-size: 22px;
  line-height: 1.5;
  font-weight: 400;
  margin: 40px auto;
}
@media screen and (max-width: 800px) {
  .readme__title {
    font-size: 38px;
  }
  .readme__container {
    max-width: 700px;
    width: 70%;
  }
  .readme__paragraph {
    font-size: 18px;
  }
}
@media screen and (max-width: 580px) {
  .readme__container {
    width: auto;
    padding: 40px 50px;
  }
}
@media screen and (max-width: 400px) {
  .readme__paragraph {
    font-size: 16px;
  }
  .readme__container {
    margin: 0;
    padding: 30px;
  }
}
