.about {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
  z-index: 15;
}
.about__close_button {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;
  background-image: url(../../images/whiteCrossAbout.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  top: -20px;
  right: -60px;
}
.about__btn-border {
  margin: auto;
  position: relative;
  max-width: 1600px;
  width: 90%;
  max-height: 95vh;
}
.about__border {
  width: 100vw;
  height: 100vh;
  position: fixed;
  cursor: pointer;
}

.about__is_open {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-in;
  background-color: rgb(0, 0, 0, 0.65);
}

.about__container {
  display: flex;
  flex-direction: row;
  max-height: 95vh;
  margin: auto;
  background-color: rgb(245, 245, 245);
  transition: all 0.4s ease-in;
  border-radius: 48px;
  width: 100%;
  overflow: hidden;
}
.about__content {
  display: grid;
  grid-template-rows: repeat((auto-fit, minmax(100px, 2fr)));
  grid-template-areas:
    "img text text"
    "img sim sim";
  padding: 20px;
  column-gap: 20px;
  row-gap: 20px;
  transition: all 0.4s ease-in;
  overflow-y: scroll;
}
.about__poster {
  box-sizing: border-box;
  grid-area: img;
  background-size: contain;
  width: 100%;
  border-radius: 20px;
  transition: all 0.6s ease-in;
  z-index: 3;
}

.about__text {
  max-height: 80%;
  grid-area: text;
}
.about__heading {
  border-radius: 20px;
  border-top-right-radius: 36px;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  /* background-color: pink; */
  padding: 10px;
}
.about__body {
  box-sizing: border-box;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: gold; */
  position: relative;
  margin: 10px 0;
  border-radius: 20px;
}
.about__title {
  font-size: 32px;
  margin: 15px 0 20px 0;
  padding: 0;
}
.about__subtitle {
  font-size: 22px;
  margin: 0px 0 20px 0;
  padding: 0;
}
.about__rating {
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 15px 0 0 0;
}
.about__runtime {
  margin: 20px 0 0 0;
  padding: 0;
}
.about__overview {
  width: 95%;
  padding: 10px;
  height: auto;
}

@media screen and (max-width: 1500px) {
  .about__content {
    position: relative;
    grid-template-areas:
      "img text"
      "sim sim";
  }
  .about__container {
    width: 90vw;
  }
  .about__text {
    z-index: 10;
  }
  .about__poster {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  .about__heading {
    margin: 0;
    padding: 0;
  }
  .about__title {
    font-size: 28px;
    margin: 10px 0 0 0;
    padding: 0;
  }
  .about__subtitle {
    font-size: 19px;
    margin: 15px 0 10px 0;
    padding: 0;
  }
  .about__rating {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0;
    margin: 0px;
  }
  .about__rating > p {
    font-size: 22px;
    font-weight: 300;
  }
  .about__runtime {
    font-weight: 700;
    font-size: 18px;
    margin: 20px 0 0 0;
    padding-right: 25px;
    text-align: right;
  }
  .about__genres {
    font-weight: 700;
    font-size: 20px;
    text-align: right;
    margin-bottom: 0px;
    padding-right: 25px;
  }
  .about__release {
    font-weight: 400;
    font-size: 20px;
    text-align: right;
    padding-right: 25px;
    margin-bottom: 10px;
  }
  .about__overview {
    box-sizing: border-box;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 300;
    text-align: left;
    max-height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 0 20px 0px 20px;
  }
}

@media screen and (max-width: 1000px) {
  .about__title {
    font-size: 26px;
    margin: 10px 20px 0 20px;
    padding: 0;
  }
  .about__subtitle {
    font-size: 16px;
    margin: 10px 30px 10px 0px;
    padding: 0;
    font-weight: 400;
  }
  .about__heading {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .about__rating {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0;
    margin: 10px 25px 0 25px;
  }
  .about__rating > p {
    font-size: 18px;
    font-weight: 300;
  }
  .about__runtime {
    margin: 10px 0 0 0;
  }
  .about__genres {
    font-size: 18px;
  }
  .about__release {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .about__overview {
    font-size: 16px;
    font-weight: 400;
    max-height: 100px;
  }
}

@media screen and (max-width: 800px) {
  .about {
    margin: auto;
  }
  .about__container {
    position: relative;
    min-height: 100%;
    height: fit-content;
    display: flex;
    width: 90vw;
    min-width: unset;
    margin: auto;
    border-radius: 0px;
    transition: all 0.4s ease-in;
  }
  .about__btn-border {
    max-height: unset;
    min-height: 100%;
    width: 90vw;
    height: 100vh;
  }

  .about__close_button {
    position: fixed;
    top: 2%;
    right: 3%;
    width: 70px;
    height: 70px;
    background-color: rgb(234, 28, 28);
    border-radius: 35px;
    transition: all 0.3s ease-in;
    z-index: 10;
    box-shadow: 0px 3px 15px 1px rgba(0, 0, 0, 0.6);
  }
  .about__content {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 90vw;
    min-width: unset;
    height: 100vh;
    min-height: 100%;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    transition: all 0.4s ease-in;
    margin: auto;
  }
  .about__heading {
    margin: 50px auto auto;

    transition: all 0.4s ease-in;
    flex-direction: column;
  }
  .about__title {
    font-size: 32px;
    margin: 30px auto 10px;
    text-align: center;
    transition: all 0.6s ease-in;
  }
  .about__subtitle {
    max-width: 100%;
    margin: 15px auto 30px;
  }
  .about__poster {
    transition: all 0.6s ease-in;
    max-width: 60%;
    margin: 20px auto 0;
  }
  .about__text {
    margin: auto;
    padding: 0;
    flex-direction: column;
  }
  .about__body {
    text-align: center;
    position: relative;
    width: 80%;
    margin: 0px auto 0px;
    transition: all 0.4s ease-in;
    flex-direction: column;
  }
  .about__release {
    text-align: center;
    margin: auto;
    position: relative;
    margin-top: 20px;
    transition: all 0.6s ease-in;
  }
  .about__genres {
    position: relative;
    text-align: center;
    left: 5px;
    margin: 0px auto 25px;
    transition: all 0.6s ease-in;
  }

  .about__overview {
    text-align: left;
    max-height: unset;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 40px 0;
  }
}
@media screen and (max-width: 622px) {
  .about__btn-border {
    width: 100vw;
  }
  .about__container {
    width: 100vw;
    margin: 0;
  }
  .about__content {
    width: 100vw;
  }
  .similar__post {
    max-width: 250px;
    margin: 1;
    transition: all 0.4s ease-in;
  }
  .about__subtitle {
    max-width: 80%;
  }
  .about__rating {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
@media screen and (max-width: 550px) {
  .about__container {
    width: 100%;
    transition: all 0.4s ease-in;
  }
  .about__close_button {
    width: 50px;
    height: 50px;
    right: 3%;
    top: 20px;
    transition: all 0.4s ease-in;
    box-shadow: 1px 1px 8px 1px rgb(161, 161, 161);
  }
  .similar__post {
    padding: 8px 2px;
    transition: all 0.4s ease-in;
  }
}

@media screen and (max-width: 420px) {
  .similar__post {
    width: 70%;
    padding: 7px 2px;
    transition: all 0.4s ease-in;
  }

  .similar__post > .post__title {
    font-size: 14px;
    font-weight: 400;
    transition: all 0.4s ease-in;

    padding-bottom: 5px;
    padding-top: 0;
    margin-top: 0px;
    transition: all 0.6s ease-in;
  }
}
