.homepage {
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
}
.homepage__title {
  font-size: 72px;
  color: rgb(89, 89, 89);
  text-shadow: 1px 1px 10px 2px black;
  text-align: center;
  margin: 50px auto;
  width: 5;
  font-weight: 700;
}

/* .homepage__content-background {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: rgb(60, 211, 216);
  width: 100vw;
  height: 300px;
  z-index: 1;
} */
.homepage__section {
  margin: 0 auto;
  display: flex;
  max-width: 75%;
  align-items: center;
  margin-bottom: 80px;
}
.section__title {
  text-align: left;
  padding: 0;
  max-width: 300px;
  font-size: 56px;
  font-weight: 200;
  color: white;
  text-align: center;
}

.homepage__now-playing {
  padding: 0px 0px 90px 20%;
  background-color: rgb(66, 227, 192);
}

.homepage__coming-soon {
  flex-direction: row-reverse;
  background-color: rgb(101, 197, 252);
  padding: 0px 18% 90px 0px;
}

.homepage__top-rated {
  background-color: rgb(153, 107, 210);
  padding: 0px 0px 90px 15%;
}
@media screen and (max-width: 1800px) {
  .homepage__section {
  }
  .section__title {
    font-size: 48px;
  }
}
@media screen and (max-width: 1400px) {
  .homepage__section {
    max-width: 100%;
    margin: 20px 20px 40px;
    padding: unset;
  }
}

@media screen and (max-width: 1000px) {
  .section__title {
    font-size: 36px;
    margin: 20px;
  }
}

/* @media screen and (max-width: 1600px) {
  .homepage__section {
    margin-bottom: ;
  }
  .homepage__now-playing {
    padding: 0px 0px 20px auto;
  }
  .homepage__coming-soon {
    padding: 0px 15% 20px auto;
  }
  .homepage__top-rated {
    padding: 0px 0px 20px auto;
  }
  .homepage__now-playing > .section__title {
    margin: 20px;
  }

  .homepage__coming-soon > .section__title {
    margin: 20px 0px auto 100px;
  }
} */
/* @media screen and (max-width: 1400px) {
  .section__title {
    margin-top: auto;
  }
  .homepage__section {
    margin-bottom: 50px;
  }
  .homepage__now-playing {
    padding: 0px;
    margin-left: 20%;
  }
  .homepage__coming-soon {
    padding: 0;
    margin-right: 20%;
  }
  .homepage__top-rated {
    padding: 0;
    margin-left: 20%;
  }
} */
