button:target {
  border: none;
  opacity: 0.5;
}

.section__inner-carousel {
  position: relative;

  flex-wrap: nowrap;
  display: flex;
  padding: auto;
  margin: 0 auto;
  overflow: hidden;
  overflow-x: scroll;
  width: auto;
  height: 390px;
  white-space: unset;
  scroll-behavior: smooth;
  bottom: 90px;
  padding-top: 100px;
  padding-bottom: 100px;
  z-index: 1;
  align-items: center;
  right: 60px;
}

.section__inner-carousel::-webkit-scrollbar {
  display: block;
  max-width: 10px;
  background-color: transparent;
  height: 12px;
}

.section__inner-carousel::-webkit-scrollbar-corner {
  background-color: transparent;
}
.section__inner-carousel::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.6);
}

.outer-carousel {
  position: relative;
  display: flex;
  padding-left: 125px;
  padding-right: 0px;
  margin: 0 auto;
  overflow: visible;
  height: 350px;
  max-width: 1600px;
  width: 60%;
  z-index: 3;
}

.scroll-left {
  background-color: transparent;
  border: none;
  background-image: url(../../images/leftArrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 60px;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 10;
}
.scroll-right {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0px;
  z-index: 10;
  background-image: url(../../images/rightArrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100%;
  width: 60px;
}
.scroll-left:active,
.scroll-right:active {
  background-color: transparent;
}
.carousel__now-playing > .outer-carousel {
  margin-left: 20%;
}
.carousel__coming-soon > .outer-carousel {
  margin: 0 20% 0 auto;
}

.homepage__post {
  display: flex;
  flex-direction: column;
  width: 150px;
  overflow: visible;
  aspect-ratio: 4/6;
  border-radius: 15px;
  white-space: nowrap;
  height: 230px;
  color: black;
  padding-bottom: 18px;
  background-color: white;
  margin: 0 5px;
  z-index: 5;
  align-items: center;
  box-shadow: 0px 1px 20px 2px rgba(23, 23, 23, 0.4);
  transition: all 0.3s ease-in;
}
.homepage__post img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.homepage__post:first-child {
  box-shadow: none;
}
.homepage__post:last-child {
  box-shadow: none;
}
.homepage__post > .post__title {
  height: 20px;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 22px;
  padding-top: 7px;
}
.homepage__post:hover {
  box-shadow: 1px 20px 25px 3px rgba(59, 59, 59, 0.3);
  transform: scale(1.2);
  transition: all 0.3s ease-in;
  margin: 30px;
  z-index: 15;
}
.homepage__post:hover > .carousel__rating {
  margin-top: -4px;
  transition: all 0.5s ease;
}

.homepage__post:hover:first-child {
  box-shadow: none;
}

.carousel__rating {
  color: white;
  margin-top: 20px;
}
@media screen and (max-width: 1600px) {
  .homepage__post {
    padding-bottom: 18px;
  }

  .section__inner-carousel {
    height: 260px;
    padding-top: 60px;
    bottom: 30px;
  }
}
@media screen and (max-width: 1400px) {
  .outer-carousel {
    width: 60%;
  }
}

@media screen and (max-width: 1300px) {
  .outer-carousel {
    margin: 0;
    top: -10px;
  }

  .section__inner-carousel {
    height: auto;
    padding-top: 45px;
    padding-bottom: 70px;
  }
  .homepage__post {
    height: 200px;
    border-radius: 15px;
    padding-bottom: 18px;
  }
  .homepage__post > img {
    border-radius: 15px;
  }
  .homepage__post:hover {
    box-shadow: 1px 6px 35px 3px rgba(59, 59, 59, 0.6);
    margin: 20px;
    overflow: visible;
  }
  .homepage__post > .post__title {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: 14px;
  }
  .scroll-left {
    left: 20px;
    width: 35px;
    bottom: 40px;
  }
  .scroll-right {
    width: 35px;
    right: 20px;
    bottom: 40px;
  }
  .section__inner-carousel {
    height: 280px;
    bottom: 10px;
  }
}
@media screen and (max-width: 1000px) {
  .outer-carousel {
    width: 50%;
  }
}
@media screen and (max-width: 800px) {
  .scroll-left {
    width: 24px;
    left: 30px;
  }
  .scroll-right {
    width: 24px;
    right: 30px;
  }
  .outer-carousel {
    top: 0px;
    width: 50%;
    height: 320px;
  }
  .section__inner-carousel {
    border-radius: 0px;
    padding-bottom: 50px;
    height: 260px;
    bottom: 30px;
  }
  .homepage__post {
    height: 150px;
    padding-bottom: 19px;
  }
  .homepage__post:hover {
    transform: scale(1.18);
    box-shadow: 1px 6px 40px 3px rgba(59, 59, 59, 0.4);
  }
  .homepage__post > .post__title {
    font-size: 12px;
  }
}
@media screen and (max-width: 650px) {
  .outer-carousel {
    width: 80%;
  }

  .homepage__post {
    height: 250px;
  }
}
@media screen and (max-width: 500px) {
  .section__inner-carousel {
    height: 280px;
    padding-bottom: 65px;
    padding-top: 0;
  }
  .outer-carousel {
    padding: auto;
    width: 70%;
  }
  .homepage__post {
    height: 200px;
  }
  .homepage__post:hover {
    margin: 20px 18px 0;
  }
}
@media screen and (max-width: 400px) {
  .section__inner-carousel {
    height: 240px;
    padding-bottom: 70px;
    left: -70px;
  }
  .outer-carousel {
    width: 70%;
    height: 280px;
  }
  .homepage__post {
    height: 170px;
  }
}
