.nav {
  margin: 24px auto;
  width: 85%;
  max-width: 1600px;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  border-left: 5px;
  transition: all 0.7s ease;
}
.nav__button_container {
  margin-left: 5%;
  transition: all 0.7s ease;
  z-index: 3;
}

.nav__button {
  font-size: 18px;
  font-weight: 300;
  margin: auto 12px 0;
  background-color: transparent;
  border: none;
  padding: 16px;
  transition: all 0.7s ease;
  cursor: pointer;
}
.readme__link {
  position: relative;
  text-decoration: none;
  left: 20px;
}
.nav__button:hover {
  color: #9b9a9a;
}
.nav__button-active {
  border-bottom: 3px solid rgb(151, 151, 151);
}

.mobile__menu_close-button {
  display: none;
}

@media screen and (max-width: 1300px) {
  .nav__button_container {
    margin-left: 30px;
    transition: all 0.7s ease;
  }

  .nav__button {
    margin: auto 0 0;
    transition: all 0.7s ease;
  }
}
@media screen and (max-width: 1000px) {
  .nav__button {
    font-size: 16px;
  }
  .nav {
    width: 95%;
  }
  .nav__button_container {
    margin-left: 0%;
  }
}
@media screen and (max-width: 800px) {
  .nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: column-reverse;
    width: 100vw;
    justify-content: flex-end;
    border-radius: 0px;
    margin: 0px;
    align-items: center;
    padding: 170px 5% 0;
    transform: translateX(-100%);
    background-color: rgb(109, 109, 109);
    opacity: 0.95;
    visibility: hidden;
    transition: transform 0.6s ease-out;
    z-index: 5;
  }
  .readme__link {
    left: 0;
  }
  .mobile__menu_open {
    transform: translateX(0%);
    visibility: visible;
    transition: transform 0.6s ease-in;
  }
  .mobile__menu .nav__button_container {
    margin: 100px auto auto;
    display: flex;
    justify-content: space-around;
    width: 95%;
    height: 45%;
    flex-direction: column;
    z-index: 5;
  }
  .nav__button {
    border-bottom: 5px solid aliceblue;
    margin: 15px;
    font-size: 32px;
    color: aliceblue;
    font-weight: 300;
    width: 80%;
    text-align: left;
    padding: 30px 30px 30px 10px;
  }

  .mobile__menu_close-button {
    background-image: url(../../images/whiteCrossMobile.svg);
    display: block;
    position: fixed;
    top: 10px;
    right: 35px;
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: none;
    z-index: 7;
  }
}
@media screen and (max-width: 500px) {
  .nav__button_container {
    margin-top: 30px;
    height: 45%;
  }
  .nav__button {
    border-bottom: 3px solid aliceblue;
    font-size: 24px;
    margin: 10px;
    padding: 18px 18px 18px 5px;
  }
  .mobile__menu_close-button {
    right: 2;
    width: 50px;
    height: 50px;
  }
}
